# dependencies
/node_modules/

# build folders (exclude specific files we want to track)
/dist/*
!/dist/*.zip
!/dist/*.exe
!/dist/*.yml
!/dist/*.md

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS
.DS_Store

# VSCode
.vscode/
